@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

.app{
   
    background-color: #19181F;
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    background-color: #0076CE;
    height: 70px;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 15px;
   
}

.subtitle {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: 	#fff;
    padding-left: 20vw;
    font-size: 35px;
    font-weight: 700;
    padding-top: 10vw;
}

span {
    color: #0076CE;
    padding-right: 8px;
}


.bottom {
    background-color: #0076CE;
    height: 100px;
}

.bottomlogo{
    color: white;
    padding-top: 50px;
}



.images {
    display: flex;
    align-items: center;

}

.m {
    color: #fff;
}

.circle{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #0076CE;
    clip-path: circle(30% at bottom right);
    
}

.botao {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 35px;
    padding-left: 20vw;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 5vw;
    cursor: pointer;
    background-color: #0076CE;
    color: #fff;
    border-radius: 50px;
    
}


button:hover {
    transition: 1s;
    cursor: pointer;
    background-color: #00589b;

}

.recent {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6vw;
    font-size: 70px;
}

a {
    list-style: none;
    text-decoration: none;
}

.titulo{
    font-size: 3em;
    padding-left: 20vw; 
    
}

.news {
    height: 150px;
    padding-left: 20vw;
}

main {
    padding-top: 25vw;
}


.ilustracao {
    height: 27vw;
    padding-left: 70vw;
}

.box {
    position: absolute;
}


.img1 {
    padding: 20px;
    height: 17vw;
}

.img2{
    display: none;
}


@media (max-width: 999px) {

    html {
        width: 100%;
    }

    .subtitle {
        padding-top: 25vw;
            display: flex;
            align-items: center;
            justify-content: center;
        
    }

    a button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        height: 25vw;
        width: 50vw;
        font-weight: 600;
        padding: 0;
    }

    .ilustracao {
        display: none;
        align-items: center;
        justify-content: center;
        height: 200px;
        padding-left: 20vw;
        padding-top: 50px;
        
    }

    .img2{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
    }

    .box2{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle {
        display: none;
    }

    .recent {
        padding-top: 30vw;
        font-size: 15vw

    }

    .titulo{
        font-size: 12vw;
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .images{
        display: block;
    }
    
    .img1{
        width: 70%;
        height: 70%;
    }

    .m{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        
        background-color: #19181F;
    }

    .global {
        display: none;
    }
}